.generate-box {
    height: 50%;
    gap: 20px;
    padding: 40px;
}

.generated-name-text {
    margin-top: 40px;
    padding: 10px;
}

.generated-name-text h5,
.generated-name-text h2 {
    padding: 20px;

}

.generate-name-btn {
    background: transparent;
    border: 2px solid  rgb(131, 145, 131);
    color:  rgb(131, 145, 131);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.generate-name-btn:hover{
    background:  rgb(131, 145, 131);
    color: white;
}

.previous-name-btn{
    border: none;
    background: transparent;
    cursor: pointer;
}

.previous-name-btn:hover{
    text-decoration: underline;
}
